@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background: rgb(100,108,255);
    background: linear-gradient(137deg, rgba(100,108,255,1) 0%, rgba(145,145,238,1) 28%, rgba(172,241,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 32px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.281);
    padding: 3rem;
    border-radius: 15px;
    margin-top: 0.8rem;
}

.text {
    color: white;
    animation: bounce 1s;
}

.contador {
    color: #646cff;
}

.btn {
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: #646cff;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
}

.btn:hover {
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s ease;
}

@keyframes bounce { 
    0%, 20%, 50%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-5px);} 
}